*.obj
*.o
*.tlog
*.pdb
*.idb
*.ilk
Debug
obj
*.dat
*.index
*.rpt
*.exe
*.d
*.bak
*.log
log
*.sublime-project
*.sublime-workspace
tags
cscope.out
*.Debug
*.Release
*.user
*.dll
j01/bin/srtm
/PCB/History
/PCB/__Previews
*.exe.config
*.exe.manifest
/server/__pycache__
/server/.idea
/server/data
lidartest.suo
/bin/translations
*.PcbDocPreview
/qctrl/ui_mainwindow.h
JLinkLog.txt
*.SchDocPreview
ui_remotecontrolpanel.h
ui_tracedesignpanel.h
static
